    <div class="container">

      <%= bootstrap_flash %>
      
      <div class="row">
        
        <div class="col-md-9 main_content">
          <h2>New user</h2>
          <%= render 'form' %>
          <hr>
        </div>
        <div class="col-md-3 sidebar">
          <%= render "shared/sidebar_nav" %>
        </div>
        
      </div>
      
      <hr>

      <%= render "shared/footer" %>
    </div> <!-- /container -->
